<!DOCTYPE html>
<html lang="ko">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function () {
          var pageNum = 1;
          $('#total').empty();
          $("#search").click(function () {
             
              //kakao api
              $.ajax({
                  method: "GET",
                  url: "https://dapi.kakao.com/v3/search/book?target=title",
                  data: { query: $("#query").val()},
                  headers: {Authorization: "KakaoAK 94a41ab7f95a5cf8a012ef4094f41ace"} 

              })
             
              .done(function (msg) {
                 
               
                  for (var i = 0; i < 4; i++){
                    
                      let title = msg.documents[i].title;
                      let authors = msg.documents[i].authors[0];
                      let contents = msg.documents[i].contents;
                      let thumbnail = msg.documents[i].thumbnail; 
                      let temp_html=`<div class="custom">
                                      <div class="card mb-3" style="max-width: 540px;">
                                      <div class="row g-0">
                                        <div class="col-md-4">
                                          <div class="image-info">
                                          <img src="${thumbnail}" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                          <div class="card-body">
                                            <h5 class="card-title">제목 : <span>${title}</span></h5>
                                              <p class="card-text">작가: <span>${authors}</span></p>
                                              <p class="card-text2">소개: <span>${contents}</span></p>
                                              <button onclick="posting(${i})"  type="button" class="btn btn-dark">기록하기</button>
                                          </div> 
                                        </div>
                                      </div>
                                      </div>
                                      </div>
                                    </div>`
                                      $('#total').append(temp_html)
                  }
              });
          })


              
          
      })
      //DB로 넘기기위해 해당 인덱스별 title, authors,contents의 값을 지정
      function posting(index) {
        var title = $('.card-title span').eq(index).text();
        var author = $('.card-text span').eq(index).text();
        var content = $('.card-text2 span').eq(index).text();
        var comment = "미작성입니다.";
        var star = 3;
        var token = localStorage.getItem("token");
        let formData = new FormData();
            formData.append("title_give",title);
            formData.append("authors_give",author);
            formData.append("contents_give",content);
            formData.append("comment_give",comment);
            formData.append("star_give",star);
            formData.append("token_give",token);
            fetch('/books', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
               alert(data["msg"]);
               window.location.reload()
            });
  
}


      
  </script>
    <style>
      .total
      {display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      }
      .top
      {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10px auto 10px auto;
      }
      .top>button
      {
        margin-left: 15px;
      }
      .custom
      {
        border: 1px solid #dee2e6;
        
      }
     
      .image-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      
    </style>
    <title>책 검색 사이트</title>
</head>
 
<body>
  
<form class="top">
    <input type="text" id="query">
    <button type="button" id="search">검색</button>
</form>
  

    
    <div class="total" id="total">
      <div class="custom">
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="image-info">
            <img src="이미지" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">제목: </h5>
                <p class="card-text">작가: </p>
                <p class="card-text2">소개: </p>
                <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
            </div> 
          </div>
        </div>
        </div>
        </div>
      </div>   
     
      <div class="custom">
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="image-info">
            <img src="이미지" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">제목: </h5>
                <p class="card-text">작가: </p>
                <p class="card-text2">소개: </p>
                <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
            </div> 
          </div>
        </div>
        </div>
        </div>
      </div> 
      <div class="custom">
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="image-info">
            <img src="이미지" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">제목: </h5>
                <p class="card-text">작가: </p>
                <p class="card-text2">소개: </p>
                <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
            </div> 
          </div>
        </div>
        </div>
        </div>
      </div> 
      <div class="custom">
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="image-info">
            <img src="이미지" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">제목: </h5>
                <p class="card-text">작가: </p>
                <p class="card-text2">소개: </p>
                <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
            </div> 
          </div>
        </div>
        </div>
        </div>
      </div> 
      <div class="custom">
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="image-info">
            <img src="이미지" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">제목: </h5>
                <p class="card-text">작가: </p>
                <p class="card-text2">소개: </p>
                <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
            </div> 
          </div>
        </div>
        </div>
        </div>
      </div> 
    </div>
  
   

  
 

 
    
</body>
 
</html>
